*{
    margin: 0;
    
}
body{
    padding-top: 50px;
    color: rgb(245, 245, 245);
    background: url("me2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: gray;
}
/*
header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    width: 150px;
    height: 40px;
    position: fixed;
    top: 0;
    right: 70px;
    text-align: center;
    padding-top: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transition-timing-function: linear;
    cursor: pointer;
    z-index: 0;
}
header:hover{
    opacity: 0.5;
}
header p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*/
/*
.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("me2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    filter: blur(5px);
}
*/
section{
    z-index: 2;
    background-color: rgba(0,0,0, 0.4);
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}
/*
.img1{
    width: 35px;
    border-radius: 10px;
    animation-name: img-size;
    animation-duration: 4s;
}
*/
.background{
    width: 100%;
    position: fixed;
}
.grid{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    margin: 100px;
}

.top{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    
}
.hello{
    font-size: 50px;
}
.name{
    font-size: 60px;
}
.flex-it{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad{
    font-size: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    
}
.ad1, .ad2, .ad3{
    position: relative;
    width: fit-content;
    
}
.ad2{
    margin-left: 40px;
}


.tooltip1, .tooltip2, .tooltip3{
    position: absolute;
    font-size: 15px;
    pointer-events: none;
    opacity: 0;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    right: 0;
    top: 25px;
    color: white;
    
}
.ad1:hover .tooltip1, .ad2:hover .tooltip2, .ad3:hover .tooltip3{
    opacity: 1;
    
    
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-button{
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    border-style: none;
    transition: 0.5s;
    transition-timing-function: linear;
    font-size: 35px;
    animation-name: button-style;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.more-button a{
    color: initial;
    text-decoration: none;
}

.more-button:hover{
    background-color: black;
    color: white;
}
/*
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
*/
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer a{
    color:whitesmoke; 
    
    font-size: 50px;
    transition: 0.5s;
    transition-timing-function: linear;
    padding: 20px;
}
.footer a:hover{
    opacity: 0.7;
}
@media(max-width: 775px){
    section{
        z-index: 2;
        background-color: rgba(0,0,0, 0.4);
        border: none;
        padding-top: 30px;
        padding-bottom: 30px;
        width: fit-content;
        
    }
    .hello{
        font-size: 30px;
    }
    .name{
        font-size: 40px;
    }
    .ad{
        grid-template-columns: 1fr ;
        row-gap: 10px;
    }
    .music, .write, .front{
        border: none;
        padding-bottom: 10px;
    }
    .ad2{
        margin-left: 0;
    }
    .top{
        grid-template-rows: 30px 1fr;
    }
    header{
        right: 20px;
    }
    .tooltip1, .tooltip2, .tooltip3{
        top: 0;
        right: -80px;
        font-size: 20px;
        
    }
}
@keyframes button-style{
    
    to{
        color:goldenrod;
    }
    }
   
    